.form-register {
    width: 200px;
    background: #A406EE;
    padding: 9px;
    margin: auto;
    margin-top: 100px;
    border-radius: 24px;
    text-align: center;
    font-family: 'arial';
    color: white;
}

.column {
    justify-content: center;
    column-count: 3;
    column-gap: 40px;
    width: 100%;
}